/*******************************************

  This is the base css for Thermco. It should be loading second in the chain of css stylesheets.

  Current load order expectation: reset, base, forms.
  Future load order expectation: reset, base (with forms merged into appropriate location)

  TABLE OF CONTENTS
  1. @root - variables declared for brand colors, base typographical settings, etc
  2. @elements - Foundational look/feel of html tag elements
  2. @global components - header adjustments, navigation elements
  3. @page specific - specific to a particular page, needs a body ID to leverage
  4. @section specific - a section of a page; page-dependent
  5. @component specific - 
  6. @helpers - these are helper classes meant to have highest level of specificity. they
                must be declared last, before media queries

  7. @media queries, should only be for layout changes/finesse

*******************************************/

/***********************
  @root
***********************/

:root {
  --font-primary: sans-serif;
  --font-secondary: serif;

  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));


  --blue: hsla(237, 69%, 56%, 1);
  --dark-blue: hsla(234, 53%, 40%, 1);
  --light-blue: hsla(225, 90%, 66%, 1);
  --light-blue-fade: hsla(225, 90%, 66%, 0.5);
  --white: hsla(360, 100%, 100%, 1);
  --black: hsla(0, 0%, 9%, 1);
  --gray: hsla(0, 0%, 58%, 1);
  --light-gray: hsla(216, 19%, 95%, 1);
  --yellow: hsla(52, 100%, 50%, 1);
  --vague: hsla(240, 100%, 99%, 1);
  --red: hsla(360, 100%, 40%, 1);

  --color-text: hsla(0, 0%, 9%, 1);

  --header-height: 7rem;


}

/***********************
  @elements
***********************/


body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}

header {
  display: grid;
  grid-template-columns: 240px 1fr 100px;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  align-items: center;
  color: var(--white);
  background: var(--light-blue);
  z-index: 1;
}

main {
  padding-top: var(--header-height);
  width: 100%;
  min-height: 90%;
  background: var(--white);
}


section {
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0;
}


img {
  width: 100%;
  height: auto;
}
  .image-group {
    display: flex;
    flex-direction: row;
  }

hr {
  border-top-width: 1px;
  border-bottom-width: 0;
  color: var(--light-blue-fade);
}

aside {
  padding: 0 1rem 1rem;
  height: -moz-fit-content;
}

ul {
  padding: 1rem;
  margin: 1rem 0;
}

li {
  line-height: 2;
}

footer {
  display: inline-block;
  width: 100%;
  padding: 1em;
  background: var(--yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-style: normal;
  font-size: calc(0.875rem + 1.5 * ((100vw - 20rem) / 20));
}
  .hero-header {
    margin-top: 0;
  }

h3 {
  font-size: 1.75rem;
  font-weight: normal;
  margin: 1.5rem 0 0rem;
}

h4 {
  font-size: 1.25rem;
  /* font-weight: normal;   */
  margin: 0;
}

p {
  font-size: 1.1rem;
  line-height: 2;
  margin-top: 0;
}
  p + p {
    margin-top: 1.5rem;
  }

  .hero-tagline {
    margin: 0;
  }

details {
  width: 100%;
  min-height: 5px;
  padding: 0 2rem;
  margin: 0 auto;
  background: var(--white);
  position: relative;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 5px;
  transition-duration: 0.5s;
}

h3 + details {
  margin-top: 1rem;
}

details + details {
  margin-top: 1rem;
}

details[open] {
  min-height: 3rem;
  padding-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

  details[open] > .details-content {
    border-top: 1px solid var(--light-blue-fade);
    padding-top: 1em;
  }

  .details-partner[open] summary > span {
    color: inherit;
  }

  .details-content p {
    line-height: 1.5;
    margin: 0;
  }

  .details-content h4 {
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 0;
  }

  h4 + p {
    margin-top: 0;
  }

summary {
  font-weight: 500;
  cursor: pointer;
  list-style-image: none;
  padding: 2rem 0;
}

  summary.shipping {
    padding: 0.75rem 0;
  }
  
summary::-moz-list-bullet {
  list-style-type: none;
  display: block;
}

summary:focus {
  outline: none;
}

summary::-moz-details-marker {
  display: none;
}

summary::-webkit-details-marker {
  display: none
}

  *[class^='flag-']::before {
    padding-right: 1rem;
  }


  /* @TODO: need to relocate this group of declarations */
.flag-cn::before { content: url('../images/flag/cn.png'); }
.flag-jp::before { content: url('../images/flag/jp.png'); }
.flag-kr::before { content: url('../images/flag/kr.png'); }
.flag-id::before { content: url('../images/flag/id.png'); }
.flag-si::before { content: url('../images/flag/si.png'); }
.flag-vn::before { content: url('../images/flag/vn.png'); }

summary::after {
  position: absolute;
  right: 20px;
  font-size: 15px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-weight: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\25b2";
  transform: rotate(180deg);
}

details[open] summary > span {
  color: var(--light-blue);
}

details[open] summary::after {
  transform: rotate(0);
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {
    opacity: 0;
    margin-top: -10px;
  }
  100%  {
    opacity: 1;
    margin-top: 0;
  }
}

table {
	font-family: sans-serif;
  margin: 0 auto;
  margin-bottom: 5rem;
	width: 100%;
	border-collapse: collapse;
  text-align: left;
  background: var(--vague);
}

table th {
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Roboto Light', sans-serif;
	color: var(--gray);
	padding: 2rem 1rem;
	border-bottom: 1px solid var(--light-gray);
}

  table th:first-child {
    width: 5rem;
  }

  table tr:nth-child(even) {
    background: var(--white);
  }

table td {
	border-bottom: 1px solid var(--light-gray);
	padding: 1rem;
}

/* @TODO - too vague, rename appropriately */
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea,
button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.header-search {
  transform: translateY(-5rem);
  max-width: 55rem;
  margin: 0 auto;
}


details h3 {
  font-size: 1.5rem;
}

fieldset {
  border: medium none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 15px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

input[type="submit"] {
  width: 100%;
  padding: 0.75em;
  border-radius: 0.25em;
  box-shadow: none;
  border-width: 0;
  /* border-color: var(--light-blue); */
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
}

input[type="submit"]:hover {
  background: var(--dark-blue);
}

  input[type="submit"].alternate {
    border-width: 1px;
    border-color: var(--blue);
    background: var(--white);
    color: var(--blue);    
  }

  input[type="submit"].alternate:hover {
    background: var(--light-blue-fade);
    color: var(--white);
  }

button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* @TODO: ugh, no. use neighbor input/label + sup instead */
sup.alert {
  font-weight: 700;
  font-size: 1em;
  vertical-align: text-bottom;
}


input:focus,
textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: var(--gray);
}

:-moz-placeholder {
  color: var(--gray);
}

::-moz-placeholder {
  color: var(--gray);
}

:-ms-input-placeholder {
  color: var(--gray);
}


/* @TODO: make page specific */
.product-page main {
  padding-top: var(--header-height);
}

/* @TODO: simplify */
.img-logo {
  width: 200px;
  margin-left: 1rem;
}

.main-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  min-width: 40em;
}

  .main-nav a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Roboto-Slab', sans-serif;
    font-weight: 300;
    color: var(--white);
  }

    .main-nav li + li {
      margin-left: 2vw;
    }

  .main-nav .current-view {
    border-bottom: 1px solid var(--dark-blue);
  }

  .main-grid {
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr minmax(min-content, 75em) 1fr;
    grid-template-columns: 1fr minmax(min-content, 75em) 1fr;
    grid-auto-rows: min-content;
  }
    .main-grid > * {
      grid-column: 1 / -1;
    }
  
    .main-grid > section {
      margin-left: 0;
      margin-right: 0;
      -ms-grid-column: 2;
      grid-column: 2;
      margin-top: 5rem;
    }

      .main-grid > .grid-breakout {
        grid-column: 1 / -1;
      }

.overlay-nav {
  display: block;
	position: fixed;
	top:0;
	height:100%;
  width:100%;
	background: var(--dark-blue);
	overflow:auto;
  z-index: 100;
  transform: translateY(-100vh);
  transition-duration: 0.5s;
}

  .overlay-nav header {
    position: relative;
    background: var(--dark-blue);    
  }

  .overlay-toggle {
    display: flex;
    position: fixed;
    width: 1em;
    height: var(--header-height);
    top: 0;
    right: 0.5em;
    z-index: 200;
    text-decoration: none;
    color: var(--white);
    font-size: 2.5vw;
    padding: 0.5em;
    justify-content: center;
    align-items: center;    
  }

  .overlay-wrap {
    display: grid;
    grid-template-columns: 1fr minmax(20em, 60rem) 1fr;
    padding: 0;
    width: 100%;
  }

    .overlay-wrap > * {
      grid-column: 2;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr) );
      grid-column-gap: 1.5em;
    }

  .overlay-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .overlay-column a {
    text-align: left;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 1em;
    margin: 1em 0;
    color: var(--white);
    border-radius: 0.25em;
    text-transform: capitalize;
    font-size: 1.3em;
    line-height: 0;
    white-space: nowrap;    
  }
    .overlay-column a:hover {
      background: rgba(0, 0, 0, 0.5);
    }

  .overlay-search {
    justify-self: flex-end;
    margin-top: auto; /* this matters */
  }

.cookie-nav {
  margin: 2rem 0 0;
  padding: 0;
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  width: 100%;
}
  .cookie-nav li {
    display: inline-flex;
    margin-right: 1rem;
  }
    .cookie-nav a {
      text-decoration: none;
    }

      .cookie-nav .current-view {
        font-weight: 700;
      }


.header-light {
  color: var(--dark-blue);
  background: var(--white);
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
  .header-light a {
    color: var(--dark-blue);
  }


.product-grid {
  display: grid;
  width: 100%;
  -ms-grid-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: max-content;
  grid-gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}


  .product-listing {
    border: 1px solid var(--light-gray);
    background: var(--white);
    min-width: 260px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--black);    
  }

    .product-listing:hover {
      box-shadow: 0 10px 40px -14px hsla(0,0%,0%,.5);
    }

    .product-listing img {
      width: 90%;
      height: auto;
      
    }

  .product-specifications {
    max-width: 75rem;
    margin: 0 auto;
  }

.filter-container {
  grid-column: 1;
  grid-row: 1 / 8; /* @TODO incorrect but working; fix re: grid spec */
}

  .filter-component {
    padding: 1em;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 0.5em;
    width: 100%;
    grid-row-gap: 1em;
    grid-template-rows: minmax(1em, auto);
  }


.rma-grid {
  display: grid;
  width: 100%;
}

.center-split > div {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}

.page-header-large {
  height: 5em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;

}


.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  border-radius: 3px;
  float: left;
  margin-right: 1rem;
  text-decoration: none;
}

  .btn-blue {
    background: var(--dark-blue);
    color: var(--white);
  }

  .btn-white {
    background: var(--light-gray);
    color: var(--blue);
    border-color: var(--blue);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
  }

  .btn-reset {
    border: 1px solid var(--blue);
    padding: 0.5em;
    margin: 1em 0;
    color: var(--blue);
    cursor: pointer;
  }

.flex-group {
  display: flex;
  flex-direction: column;
}
  .flex-group > div {
    flex: 1 1 auto;
  }

.flex-item-vertical {
  display: flex;
  flex-direction: column;
}

.content-grey-wrapper {
  margin: 1rem 2rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background: var(--light-gray);
}

.content-vertical {
  flex-direction: column;
}

.homepage-flex-strip {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.homepage-flex-strip > * {
  margin: 0 1rem 3rem 1rem;
}

.product-header {
  margin: 0;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-nav {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

  .footer-nav li {
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }

    .footer-nav li:first-child {
      border-top: 1px solid rgba(255,255,255,0.5);
    }

  .footer-nav a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

.info-sales,
.info-mail,
.info-ship {
  flex: 1 1 auto;

}

.info-sales p,
.info-mail p,
.info-ship p {
  font-size: 1rem;
  margin: 0;
}

.info-copy {
  margin: 0;
}

.alert-large {
  margin: 1rem 0;
  padding: 1.5rem 1rem;
  border-radius: 3px;
}
  .message-important {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }


/* RMA */
.component-additional {
  display: none;

}

.ship-ups,
.ship-common {
  display: none;
}

#component:checked ~ .component-additional {
  display: block;
}

#ship-ups:checked ~ .ship-ups {
  display: block;
}

#ship-common:checked ~ .ship-common {
  display: block;
}



/***********************
  @helpers
***********************/


.text--xl { font-size: var(--text-xl); }
.text--lg { font-size: var(--text-lg); }
.text--md { font-size: var(--text-md); }
.text--sm { font-size: var(--text-sm); }
.text--xs { font-size: var(--text-xs); }

.text--normal { font-weight: 400; }
.text--heavy, strong { font-weight: 700; }

.bg-blue { background: var(--light-blue); }
.bg-yellow { background: var(--yellow); }
.bg-light-gray {background: var(--light-gray); }
.bg-vague { background: var(--vague); }

.txt-white { color: var(--white); }

/* used only for sup asterisk on required form inputs */
/* for now - 3.22.2019 */
.alert { color: var(--red); }


/* @TODO: could possibly use flexbox percent/margin trick to do */
.grid-breakout {
  grid-column: 1 / -1;
}

.overlay-open {
  display: block;
  transform: translateY(0);  
}

/* necessary for when nav overlay is visible */
.disable-scrolling {
  overflow: hidden;
}

/* @TODO: may no longer need. */
.flex-inline {
  display: inline-flex;
}



@media screen and (min-width: 25em) {
  body {
    font-size: 16px;
  }

  section {
    flex-direction: column;
    min-height: 15vh;
  }

}


@media screen and (min-width: 40em) {

  .center-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 48.57vw;
  }

  .center-split > * {
    width: 48%;
  }

  .flex-group {
    flex-direction: row;
    justify-content: space-between;
    max-width: inherit;
  }

    .flex-group > * {
      min-width: unset;
    }

  .homepage-flex-strip {
    padding: 2rem 2rem 0;
  }

  .product-page-split {
    flex-direction: row;
  }
    .product-page-split > * {
      flex: 1 1 50%;
    }

    .product-page-split img {
      width: auto;
      height: 100%;
    }

  footer .layout-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .footer-nav {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10vw;
    width: 100%;
  }
  
    .footer-nav li {
      border: none;
    }
  
      .footer-nav li:first-child {
        border: none;
      }
  
    .footer-nav a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      padding: 1rem;
    }
}

@media screen and (min-width: 60em) {
  h2 {
    font-size: 3.4rem;
  }
}
