.form-grid {
    display: grid;
    grid-template-columns: 1.5em 1fr;
    grid-column-gap: 0.5em;
    width: 100%;
    grid-row-gap: 1em;
    grid-template-rows: minmax(1em, auto);
}

fieldset {
    display: contents;
}

form hr {
    color: var(--light-gray);
}

fieldset > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 0;
    line-height: 1;
}

fieldset > .flex-inline {
    margin-right: 1em;
}

input[type="radio"],
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    position: relative;
    background-color: var(--white);
    border: 3px solid var(--gray);
    border-radius: 4px;
    color: #666;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    /* margin-right: 7px; */
    outline: none;
    align-items: center;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
    border-color: var(--blue);
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    height: 1.25em;
    display: flex;
    align-items: center;
}

input[type="radio"] {
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
}

input[type="radio"]:checked {
    border-color: var(--blue);
    background-color: var(--blue);
    box-shadow: inset 0 0 0 0.25em var(--white);
}


input[type="checkbox"]:checked {
    border-color: var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

input[type=checkbox]:checked::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    content: '\02143';
    transform: scale(1.4) rotate(40deg) translateX(-0.25em);
}

/* come back to this */
/* input[type=checkbox]:disabled::before {
    color: rgba(255, 255, 255, 0);
}

input[type=checkbox]:checked:disabled::before {
    color: #bbb;
    text-shadow: .05em 0 0 #bbb, -.05em 0 0 #bbb;
} */


select {
    display: block;
    line-height: 1.3;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 100%; 
    margin: 0 0 1em;
    border: 1px solid var(--light-blue);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .25em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, var(--white) 0%, var(--white) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
select::-ms-expand {
    display: none;
}
select:hover {
    border-color: #888;
}
select:focus {
    outline: none;
}
select option {
    font-weight:normal;
}



.form-question {
    margin-bottom: 0;
}

.form-grid-full-width {
    grid-column: 1 / -1;
}

.element-hidden {
    display: none;
}